checkpoints/yolov4-416/variables/variables.data-00000-of-00001
checkpoints/yolov4-416/variables/variables.index
data/yolov4.weights
ignore
data/video/0HDA2T51.ASF
data/video/0Hda2t51.mp4
data/video/cars.mp4
data/video/test.mp4
outputs/demo.avi